body {
	color:ivory;
	text-align:center;
	font-weight:200;
}
img {
	width:100%;
}

@media (min-width: 200px) {
  .container {
    width: 85%;
    padding: 0;
    background-color:seagreen; }
    h2 {
	font-size: 3rem; 
    }   
}


/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
    background-color:thistle; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; 
	background-color:goldenrod;}
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }